<settings>
  <servers>
    <server>
        <id>snapshot</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
    <server>
        <id>samS</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
  </servers>
</settings>
